/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    background: #d8d7d7;
    height: 100vh;
    margin: 0;

    /* Center the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    background: white;
    padding: 50px;
    width: 350px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 5px 15px rgb(48, 44, 44);
}

/* Heading */
h2 {
    margin-bottom: 20px;
    color: rgb(13, 14, 13);
}

/* Labels */
label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

/* Input Fields */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #343537;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    margin-bottom: 20px; /* Adds space below input fields */
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #2046edcf;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s;
}

/* Button Hover Effect */
button:hover {
    background: #212122;
}
