/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2;
    color:  rgba(22, 22, 22, 0.952);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eb3e83;
    padding: 30px 50px;
    color: white;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('https://source.unsplash.com/1600x900/?cosmetics,beauty');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

.hero h2 {
    font-size: 36px;
    margin: 0 0 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #ffe6f2;
    color: #0d0c0c;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #ffe6f2;
}

/* About Section */
.about {
    text-align: center;
    padding: 50px 20px;
    background: #ffe6f2;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #ff66b2;
    color: white;
    margin-top: 20px;
}
