body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2;
}

header {
    background-color: #eb3e83;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.contact-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.67);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contact-info {
    flex: 1;
}

.contact-info h2 {
    font-size: 28px;
    color: #333;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    font-size: 18px;
    line-height: 1.6;
}

.contact-form {
    flex: 1;
}

.contact-form h2 {
    font-size: 28px;
    color: #333;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #ff80c0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px
}